/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */

/* #region */ /* ------------------------Goble-------------------------------------------- */

:root {
  --font-family: "Noto Sans TC", 微軟正黑體;
  --wrapWidth: 1400px;
  --wrapBoxWidth: 87%;
  /* --border: solid 1px;
    --box-sizing: border-box; */
}
/* #region */

body {
  padding: 0;
  margin: 0;
  border: var(--border) blue;
  box-sizing: var(--box-sizing);
  background-color: rgb(235, 235, 235);
}

.wrap {
  position: relative;
  margin: 0 auto;
  max-width: var(--wrapWidth);
  border: var(--border) red;
  box-sizing: var(--box-sizing);
  margin-bottom: 120px;
}

.logoFrame{
  height: 140px;
  border: var(--border);
  box-sizing: var(--box-sizing);
}

#copying{
  display: none;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  font-family: var(--font-family);
  text-align: center;
  font-size: 20pt;
  font-weight: 600;
  opacity: 0;
  animation-name: copying;
  animation-duration: 5s;
}
@keyframes copying {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#logo {
  border: var(--border);
  box-sizing: var(--box-sizing);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 10px;
  animation-name: none;
  animation-duration: 5s;
  cursor: pointer;
  height: 90%;
}

@keyframes logo {
  0% {
    height: 90%;
  }

  10% {
    height: 100%;
  }
  20% {
    height: 90%;
  }
  30% {
    height: 100%;
  }
  40% {
    height: 90%;
  }

  50% {
    height: 100%;
  }
  60% {
    opacity: 1;
    height: 90%;
  }

  100% {
    opacity: 0;
  }
}

.Plane {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: var(--border);
  box-sizing: var(--box-sizing);
  background: white;
  width: 60%;
  min-width: 350px;
  height: 600px;
  box-shadow: 0px 0.5px 50px rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  padding: 5px;
}
.title {
  font-family: var(--font-family);
  text-align: center;
  font-size: 20pt;
  font-weight: 600;
  line-height: 25pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

.date {
  font-family: var(--font-family);
  text-align: center;
  font-size: 16pt;
  font-weight: 500;
  line-height: 25pt;
  margin-bottom: 20px;
}
.place {
  font-family: var(--font-family);
  text-align: center;
  font-size: 16pt;
  font-weight: 500;
  line-height: 25pt;
  margin-bottom: 20px;
}

.textbox {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: solid 10px rgb(165, 26, 22);
  box-sizing: var(--box-sizing);
  background: rgb(255, 181, 97);
  width: 65%;
  min-width: 300px;
  height: 280px;
  /* box-shadow: 0px 0.5px 80px rgba(243, 4, 4, 0.8); */
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
}

.tp {
  font-family: var(--font-family);
  font-size: 15pt;
  font-weight: 600;
  line-height: 25pt;
}

#target {
  font-family: var(--font-family);
  text-align: center;
  font-size: 60pt;
  font-weight: 600;
  /* line-height: 25pt; */
  position: relative;
  /* left: 50%; */
  top: 10%;
  /* transform: translate(-50%, 0%); */
}

#present {
  font-family: var(--font-family);
  text-align: center;
  font-size: 15pt;
  font-weight: 600;
  position: relative;
  bottom: -19%;
  /* line-height: 25pt; */
}

.foot {
  height: 85px;
  width: 100%;
  border: var(--border);
  box-sizing: var(--box-sizing);
  overflow: hidden;
}
#foot_1 {
  width: 100%;
  position: relative;
  /* left: 50%;
  transform: translate(-70%, 0);
  position: absolute; */
}
